#WoniuSec {
  width: 100%;
}

.bg{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: var(--bg-linear-positive) no-repeat 100%,100%;
  background-color: red;
  z-index: -999;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topNav {
  width: 100%;
  z-index: 999;
}

.banner {
  width: 100%;
  height: 650px;
  /* background-color: var(--bg-info); */
}

#WoniuSecBannerCanvas{
  pointer-events: all;
}

.convenientEntrance {
  width: var(--typeArea);
  flex-direction: column;
  display: flex;
  padding-bottom: 100px;
}

.convenientEntrance>div:nth-child(1){
  color: var(--title-color-1);
  font: normal 32px/40px var(--font_family) ;
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin-bottom: 20px;
}

.convenientEntrance .buttonList{
  display: flex;
  justify-content: space-between;
}

.convenientEntrance button {
  font: bold 36px/44px var(--font_family);
  color: var(--placeholder);
  width: calc((100% - 80px) / 3);
  height: 298px;
  background-color: white;
}

.module {
  padding: 100px 0px;
  width: var(--typeArea);
  display: flex;
  align-items: center;
}

.module .left{
  flex: 0 0 auto;
  width: calc( 38.2% - 40px );
  height: fit-content;
  margin-right: 40px;
}

.module .right{
  width: 100%;
  height: 400px;
  background-color: var(--negative-1-bg);
}
