#filing_info {
  display: block;
  position: absolute;
  right: 2vw;
  bottom: 2vh;
  color: var(--main-color-2);
  padding: 5px 10px;
  background-color: var(--bg-white-30);
  border-radius: var(--border-radius-small);
  text-decoration: none;
}
