#MatrixEffectBox .firstScreen{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  /* border: 2px solid yellow; */
}

#MatrixEffectBox img.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#MatrixEffectBox img.illustration{
  width: 100%;
  position: absolute;
  left: 0;
}

#MatrixEffectBox canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

#MatrixEffectBox canvas.effectCanvas {
  display: block;
}

#MatrixEffectBox canvas.templateCanvas {
  display: none;
}
